<div *ngIf="hotreeFormField" class="form-group row hotree-new-survey-row">
  <label class="col-sm-2 col-form-label hotree-form-label">
    <span [class.label-is-invalid]="((hotreeFormField.invalid && hotreeFormField.touched) && (hotreeRequired || hotreeFormField.errors))"
    >{{newEventFieldDescription[hotreeFormFieldName]}}</span>
    <span *ngIf="hotreeRequired" class="required-field-star">  *</span>
  </label>
  <div class="col-sm-8">
    <ng-content></ng-content>
  </div>
  <ng-container *ngIf="!hotreeTooltipText">
    <app-hotree-tooltip
      *ngIf="
    ((hotreeFormField.invalid && hotreeFormField.touched) && (hotreeRequired || hotreeFormField.errors))" class="col-sm-2"
      tooltipText="{{newEventFieldDescription[hotreeFormFieldName]}} cannot be empty"
    ></app-hotree-tooltip>
  </ng-container>

  <ng-container *ngIf="hotreeTooltipText">
    <app-hotree-tooltip
      *ngIf="((hotreeFormField.invalid && hotreeFormField.touched) && (hotreeRequired || hotreeFormField.errors))" class="col-sm-2"
      tooltipText="{{hotreeTooltipText}}"
    ></app-hotree-tooltip>
  </ng-container>
</div>


