$header-background01: #1e3b68;
$header-background02: #355990;
$hotree-blue01: #355990;
$hotree-blue02: #8ca2c2;
$font-color-header: white;
$font-color-field-description: #d4d3d3;
$font-color-placeholder: #c9c9c9;
$background-color: #f7f7f7;
$form-color-invalid: #ffb3b3;

$content-default-width: 70%;
$hotree-defulat-indent: 40px;
$hotree-small-input-width: 100px;

$font-size-label: 14px;
$font-size-small: 12px;
$font-size-normal: 16px
