$header-background01: #1e3b68;
$header-background02: #355990;
$heading-blue01: #355990;
$heading-blue02: #8ca2c2;
$font-color-header: white;
$background-color: #f7f7f7;
$form-color-invalid: #ffb3b3;

$content-default-width: 70%;
$hotree-defulat-indent: 40px;

$font-size-label: 14px;
$font-size-normal: 16px
