@import "variables";

.hotree-default-indent {
  padding-left: $hotree-defulat-indent;
}

.hotree-btn-primary {
  background: #ff8e1d;
  color: white;
  width: 164px;
  height: 50px;
  &:hover {
    color: white;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,142,64,.25);
  }
}

app-new-event, app-summary {
  display: flex;
  justify-content: center;
  margin-top: 32px;

  main {
    flex-basis: $content-default-width;
  }
}

h5 {
  color: $heading-blue01;
}

.hotree-new-survey--row {
  margin-left: 0;
  margin-right: 0;
}
