@import "variables";

.hotree-default-indent {
  padding-left: $hotree-defulat-indent;
}

.hotree-btn-primary {
  background: #ff8e1d;
  color: white;
  width: 164px;
  height: 50px;
  &:hover {
    color: white;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,142,64,.25);
  }
}

app-new-event, app-summary {
  display: flex;
  justify-content: center;
  margin-top: 32px;

  main {
    flex-basis: $content-default-width;
  }
}

h5 {
  color: $hotree-blue01;
}

.hotree-new-survey-row {
  margin-left: 0;
  margin-right: 0;
}

.hotree-form-label {
  padding-left: 0;
}

.character-counter {
  display: flex;
  justify-content: space-between;
}

.hotree-field-tip-description {
  small {
    color: $font-color-field-description;
  }
}

.hotree-option-text {
  color: $font-color-placeholder;
  option {
    font-size: $font-size-normal;
  }
}

.hotree-radio-button-input {
  &:checked {
    &~.hotree-radio-button-label {
      &::before {
        border-color: $hotree-blue02;
        background-color: $hotree-blue02;
      }
    }
  }
}

.hotree-small-input {
  width: $hotree-small-input-width;
}
