@import "~src/variables";

.publish-button {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.description-textarea {
  height: 140px;
}

::placeholder {
  color: $font-color-placeholder;
}

.payment-fields {
  padding-top: calc(.375rem + 1px);
  min-height: 40px;
  display: inline-block;
  height: 100%;
}

.dollar-sign {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
}
