@import "~src/variables";

.publish-button {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

label {
  color: $heading-blue02;
  text-transform: uppercase;
  font-size: $font-size-label;
}

.label-is-invalid, .required-field-star, .invalid-message {
  color: $form-color-invalid;
}

.description-textares {
  height: 140px;
}
