<main>
  <form [formGroup]="newEventForm" (ngSubmit)="onSubmit()" novalidate>
    <section class="card">
      <div class="card-body hotree-default-indent">
        <h5 class="card-title">About</h5>
        <hr/>

        <app-hotree-form-field [required]="true" [formField]="title" [formFieldName]="formField.title">
          <input type="text" [formControlName]="formField.title"
                 class="form-control" [class.is-invalid]="title.invalid && title.touched" [id]="formField.title + 'Control'"
                 placeholder="Make it short and clear">
        </app-hotree-form-field>

        <app-hotree-form-field [required]="true" [formField]="description" [formFieldName]="formField.description">
            <textarea type="text" [formControlName]="formField.description" maxlength="140"
                                class="form-control description-textarea" [class.is-invalid]="description.invalid && description.touched" [id]="formField.description + 'Control'"
                                placeholder="Write about your event, be creative"></textarea>
            <div class="character-counter hotree-field-tip-description">
              <small [id]="formField.description + 'Help'" class="form-text">Max length 140 characters</small>
              <small [id]="formField.description + 'Counter'" class="form-text">{{ description.value.toString().length }}/140</small>
            </div>
        </app-hotree-form-field>

        <app-hotree-form-field [formField]="category" [formFieldName]="formField.category" >
          <select class="form-control" [class.hotree-option-text]="category.pristine"
                  formControlName="category">
            <option hidden>Select category (skills, interest, location)</option>
            <option *ngFor="let singleCategory of (categories | async)" [value]="singleCategory.id">{{singleCategory.name}}</option>
          </select>
          <div class="character-counter hotree-field-tip-description">
            <small [id]="formField.category + 'Help'" class="form-text">
              Describes topic and people who should be interested in this event
            </small>
          </div>
        </app-hotree-form-field>

        <app-hotree-form-field [formField]="payment" [formFieldName]="formField.payment">
          <div class="payment-fields">
            <div (click)="resetEventFee()" class="custom-control custom-radio custom-control-inline">
              <input type="radio" formControlName="payment" id="freeEvent" [value]="false" class="custom-control-input hotree-radio-button-input">
              <label class="custom-control-label hotree-radio-button-label" for="freeEvent">Free event</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" formControlName="payment" id="paidEvent" [value]="true" class="custom-control-input hotree-radio-button-input">
              <label class="custom-control-label hotree-radio-button-label" for="paidEvent">Paid event</label>
            </div>p
          </div>
          <div *ngIf="payment.value" class="custom-control-inline">
            <input type="number" [formControlName]="formField.event_fee"
                   class="form-control hotree-small-input" [class.is-invalid]="event_fee.invalid && event_fee.touched" [id]="formField.event_fee + 'Control'"
                   placeholder="Fee">
            <div class="dollar-sign">
              <span>$</span>
            </div>
          </div>
        </app-hotree-form-field>

        <app-hotree-form-field [formField]="reward" [formFieldName]="formField.reward">
          <div class="custom-control-inline">
            <input type="number" [formControlName]="formField.reward"
                   class="form-control hotree-small-input" [class.is-invalid]="reward.invalid && reward.touched" [id]="formField.reward + 'Control'"
                   placeholder="Number">
            <div class="dollar-sign">
              <span>Reward points for attendance</span>
            </div>
          </div>
        </app-hotree-form-field>

      </div>
    </section>

    <section class="card">
      <div class="card-body hotree-default-indent">
        <h5 class="card-title">Coordinator</h5>
        <hr/>

        <app-hotree-form-field [required]="true" [formField]="coordinator" [formFieldName]="formField.coordinator">
          <select class="form-control"
                  formControlName="coordinator">
              <optgroup label="Me">
                <option [selected]="true">
                  {{loggedUser?.name + ' ' + loggedUser?.lastname}}
                </option>
              </optgroup>
              <optgroup label="Others">
                <ng-container *ngFor="let singleCoordinator of (coordinators | async)">
                  {{ singleCoordinator }}
                  <option *ngIf="singleCoordinator.id !== loggedUser?.id">
                    {{singleCoordinator.name + ' ' + singleCoordinator.lastname}}
                  </option>
                </ng-container>
              </optgroup>
          </select>
          <div class="character-counter hotree-field-tip-description">
            <small [id]="formField.category + 'Help'" class="form-text">
              Describes topic and people who should be interested in this event
            </small>
          </div>
        </app-hotree-form-field>

        <app-hotree-form-field [formField]="email" [formFieldName]="formField.email">
          <input type="text" [formControlName]="formField.email"
                 class="form-control" [class.is-invalid]="email.invalid && email.touched" [id]="formField.email + 'Control'"
                 placeholder="Email">
        </app-hotree-form-field>
      </div>
    </section>

    <section class="card">
      <div class="card-body hotree-default-indent">
        <h5 class="card-title">When</h5>
        <hr/>

        <app-hotree-form-field [formField]="duration" [formFieldName]="formField.duration">
          <div class="custom-control-inline">
            <input type="number" [formControlName]="formField.duration"
                   class="form-control hotree-small-input" [class.is-invalid]="duration.invalid && duration.touched" [id]="formField.duration + 'Control'"
                   placeholder="Number">
            <div class="hour-text">
              <span>hour</span>
            </div>
          </div>
        </app-hotree-form-field>

      </div>
    </section>

    <div class="publish-button">
      <button
        type="submit"
        class="btn hotree-btn-primary">PUBLISH EVENT</button>
    </div>
  </form>
</main>
